
<div ng-controller="TodosLospaisesCtrl as paisesT">
	<!--<div class="container">
		<ul class="nav nav-pills">
        <li role="navegacion"><a href="#">InicioDeJuego</a></li>
  			<li role="navegacion" class="active"><a href="#">Mapamundi</a></li>
  			<li role="navegacion"><a href="#">Expedientes</a></li>
		</ul>
	</div>-->
	<div class="container">
	 	<h1>Mapamundi</h1>
	</div>
<div class="container">
 <form class="col-sm-3">
	<div class ="well well-lg">	
      <table class="table table-striped table-hover">
        <thead>	
         <tr>
             <th>Pais</th>
             <th></th>
             <th></th>
         </tr>
         </thead>
         <tbody>
        <!-- <tr ng-repeat="pais in paisesT.paises ">-->
        <tr data-ng-repeat="pais in paisesT.paises"> 
            <td>{{pais.nombrePais}}</td>
            <td>
            	<button type="submit" class="btn btn-default" ng-click="paisesT.deletePais(pais)">
            			<span class="glyphicon glyphicon-remove"></span>
          		</button>
          	</td>
          	 <td>
            	<button type="submit" class="btn btn-default" ng-click="paisesT.seleccionarPais(pais)">
            			<span class="glyphicon glyphicon-pencil"></span>
          		</button>
          	</td>
        </tr>
        </tbody>
    </table>
    <!--  <button type="submit" class="btn btn-primary"
	data-ng-click="paisesT.nuevo()">Nuevo</button>-->
    </div>
    		<div class="well well-lg">
			<h2>Agregar Pais</h2>
			<div>
			  	<fieldset>
				    <div class="form-group">
			    	  	<label for="titulo">Nombre Del Pais</label>
			      		<input data-ng-model="paisesT.nuevoPais.nombrePais" type="text" id="nombrePais" class="form-control" placeholder="Yugoslavia">
			    	</div>
			    	<button type="submit" class="btn btn-primary" data-ng-click="paisesT.agregarPais()">Agregar</button>
			  	</fieldset>
			</div>
		</div>
    
  </form> 
  <form class="col-sm-4">
  <div class="well well-lg">
 				<div class="form-group">
 				<label for="nombre">Nombre:</label>
				<input 
					name="Nombre"
					class="form-control" 
					ng-model="paisesT.paisSeleccionado.nombrePais"
					required="true"
					placeholder="Ingrese nombre del pais"
					autofocus="autofocus">
			</div>
		<div class ="well well-lg">	
		<table class="table table-striped table-hover">
        <thead>	
         <tr>
             <th>Caracteristicas</th>
             <th></th>
         </tr>
         </thead>
         <tbody>
        <!-- <tr ng-repeat="pais in paisesT.paises ">-->
        <tr data-ng-repeat="caracteristica in paisesT.paisSeleccionado.caracteristicasDelPais"> 
            <td>{{caracteristica}}</td>
             <td>
            	<button type="submit" class="btn btn-default btn-sm" ng-click="paisesT.deleteCaracteristica(caracteristica)">
            		<span class="glyphicon glyphicon-remove"></span>
          		</button>
             </td>
        </tr>
        </tbody>
        </table>
        </div>
        <div class="input-group">
							<input
								type="text" 
								name="nombreCaracteristcas"
								class="form-control" 
								ng-model="paisesT.caracteristicaAagregar"
								placeholder="Ingrese la caracterisctica a agregar"
								autofocus="autofocus">
								<span class="input-group-btn">
								<button type="submit" class="btn btn-default" ng-click="paisesT.agregarCaracteristica()">
            					<span class="glyphicon glyphicon-plus"></span>
          						</button>
          						</span>
		</div>
		<br>
		<div class ="well well-lg">	
		<table class="table table-striped table-hover">
        <thead>	
         <tr>
             <th>Conexiones</th>
             <th></th>
         </tr>
         </thead>
         <tbody>
        <!-- <tr ng-repeat="pais in paisesT.paises ">-->
        <tr data-ng-repeat="paisConexion in paisesT.paisSeleccionado.paisConexiones">
            <td>{{paisConexion.nombrePais}}</td>
            <td>
            	<button type="submit" class="btn btn-default" ng-click="paisesT.deleteConexion(paisConexion)">
            			<span class="glyphicon glyphicon-remove"></span>
          		</button>
          	</td>
        </tr>
        </tbody>
        </table>
        </div>
       <div class="input-group">
       <select 
       		 name="mySelectorDePaises" 
       		 id="mySelect" 
       		 class="form-control"
       		 ng-options="pais.nombrePais for pais in paisesT.paises track by pais.id"
     		 ng-model="paisesT.selectedPaisConexion" >
     		  <option value=""selected>Elige el pais a agregar </option></select>
    		<span class="input-group-btn">
       			<button type="submit" class="btn btn-default" ng-click="paisesT.agregarPaisConexion()">
            		<span class="glyphicon glyphicon-plus"></span>
       			</button>
        	</span>
       </div>
       <br>
       <div class ="well well-lg">	
       	<table class="table table-striped table-hover">
        <thead>	
         <tr>
             <th>Lugares de Interés</th>
             <th></th>
         </tr>
         </thead>
         <tbody>
        <!-- <tr ng-repeat="pais in paisesT.paises ">-->
        <tr data-ng-repeat="lugar in paisesT.paisSeleccionado.lugaresDeInteres">
            <td>{{lugar}}</td>
            <td>
            	<button type="submit" class="btn btn-default" ng-click="paisesT.deletelugar(lugar)">
            			<span class="glyphicon glyphicon-remove"></span>
          		</button>
          	</td>
        </tr>
        </tbody>
        </table>
        </div>
       <div class="input-group">
       <select 
       		  name="mySelectorDeLugares" 
       		  id="mySelect"
      		  class="form-control"
      		  ng-options="lugar.nombre for lugar in paisesT.lugaresDeInteresDisponibles track by lugar.id"
     		  ng-model="paisesT.selectedLugarDeInteres">
       <option value=""selected>Elige el lugar a agregar </option>
       </select>
       <span class="input-group-btn">
       	<button type="submit" class="btn btn-default" ng-click="paisesT.agregarLugarDeInteres()">
            	<span class="glyphicon glyphicon-plus"></span>
        </button>
        </span>
       </div>
       <br> 
     <button type="submit" class="btn btn-primary"
	data-ng-click="paisesT.aceptar()">Aceptar</button>      
 </div>
  </form> 
</div>

