body{
    font-family: verdana,arial,sans-serif;
    font-size:11px;
}


.tablaPaises {
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
.tablaPaises th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
.tablaPaises td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}