<h2>Bienvenidos</h2>

<h3> ¿Donde está Carmen Sandiego? </h3>
<div class="row">
  <div class="col-md-4">
    <img src="/../images/carmen.png" alt="Carmen Sandiego" class="img-circle">
  </div>
  <div class="col-md-8">
    <p> En el juego, tomas el papel de un investigador privado y tu tarea es atrapar 
        criminales pertenecientes a la banda más poderosa del crimen organizado bajo
        el mando de Carmen Sandiego, una mujer con un cerebro criminal prodigioso. 
        Durante tu investigación, deberás recorrer el mundo, viajando a diferentes 
        ciudades e investigando diversas localizaciones. Conseguirás diferentes clases 
        de pistas, en las que deberás basarte para realizar una orden de arresto y 
        perseguir al criminal al cual le estás siguiendo la pista.</p>  
  </div>
</div>


